<div class="navbar navbar-expand-sm navbar-light navbar-lewagon shadow-sm" id="navbar" style="height: 70px;">
  <div class="container-fluid">
    <%= link_to "/", class: "m-0 ms-2" do %>
      <%= image_tag('logo.png', class: "vh-4 logo-nav border-none") %>
    <% end %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto align-items-center">
        <li class="nav-item active me-2">
          <p class="navbar-text m-0" >Olá, <%= current_user.first_name %> </p>
        </li>
        <li class="nav-item dropdown position-static d-flex align-items-center ms-1">
          <a href="#" class="me-2 text-decoration-none" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="d-flex justify-content-center align-items-center fs-5 avatar text-white bg-warning">
              <%= current_user.first_name[0].capitalize %>
            </span>
          </a>
          <div class="dropdown-menu dropdown-menu-end bg-white mx-3 rounded-4" aria-labelledby="navbarDropdown">
            <%= link_to "Dashboard", user_profile_path(current_user), class: "dropdown-item rounded-4" %>
            <div class="border-bottom-purp"></div>
            <%# link_to "Editar cadastro", edit_user_registration_path(current_user), class: "dropdown-item rounded-4" %>
            <div class="border-bottom-purp"></div>
            <%= link_to "Sair", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item rounded-4" %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
