<!-- Wedding gifts list already created -->
<div class="d-flex justify-content-center pb-4">
  <!-- Wedding gifts summary-->
  <h4 class="m-0 userw-title-text">Quantidade de presentes cadastrados: <%= @wedding_gifts.count %></h4>
  <span class="d-flex align-items-center ms-5">
    <%= link_to new_wedding_gift_path(@user_wedding) do %>
      <div><i class="fa-solid fa-plus text-success me-2"></i></div>
    <% end %>
  </span>
</div>

<!-- Wedding gifts -->
<section class="d-flex flex-wrap" style="gap: .8%">
  <% @wedding_gifts.each do |gift| %>
  <div class="border shadow-sm border-card-wed-user p-2 mb-2 wedding-user-card-size">
    <div class="user-bg-info-wed-content d-flex justify-content-between px-2 py-1 rounded-2">
      <p class="m-0 userw-title-text">Informações:</p>
      <div class="d-flex">
        <%= link_to edit_wedding_gift_path(@user_wedding, gift) do %>
        <div><i class="fa-solid fa-pen user-comp-edit me-2"></i></div>
        <% end %>
      </div>
    </div>
    <span>
      <p class="m-0 mt-2 ps-1 userw-title-text"><%= gift.title %></p>
      <p class="m-0 ps-1 userw-title-text"><%= number_to_currency(gift.value, :unit => "R$ ", :separator => ",", :delimiter => ".") %></p>
      <p class="m-0 ps-1 userw-title-text">Quantidade de cotas: <%= gift.total_quota %></p>
    </span>
  </div>
  <% end %>
</section>
