<nav class="navbar nav-wed navbar-expand-lg bg-body-tertiary w-100" data-controller="navbar-wed" data-navbar-wed-class-value="navwed-height-size">

  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse my-2" id="navbarSupportedContent" data-controller="navbar-wed" data-navbar-wed-class-value="navwed-height-size">

      <ul class="navbar-nav nav-wed me-auto mb-2 mb-lg-0 text-center d-flex justify-content-center align-itemm-center">

        <li class="nav-item d-flex align-items-center">
          <%= link_to "Confirme sua presença", root_path(anchor: 'presenca'), class: "nav-link text-decoration-none" %>
        </li>

        <li class="nav-item d-flex align-items-center">
          <%= link_to "Recepção", root_path(anchor: 'recepcao'), class: "nav-link text-decoration-none" %>
        </li>

        <% if !@gifts.empty? && !@gifts.nil? %>
          <li class="nav-item d-flex align-items-center">
            <%= link_to "Lista de presentes", presentes_path(), class: "nav-link text-decoration-none" %>
          </li>
        <% end %>

        <% if !@wedding_guests_messages.nil? && !@wedding_guests_messages.empty? %>
          <li class="nav-item d-flex align-items-center">
            <%# <a class="nav-link">Mensagens</a> %>
            <%= link_to "Mensagens", root_path(anchor: 'mensagens'), class: "nav-link text-decoration-none" %>
          </li>
        <% end %>

        <% if !@tips.nil? && !@tips.empty? %>
          <li class="nav-item d-flex align-items-center">
            <%# <a class="nav-link text-decoration-none">Dicas</a> %>
            <%= link_to "Dicas", root_path(anchor: 'dicas'), class: "nav-link text-decoration-none" %>
          </li>
        <% end %>

      </ul>

    </div>
  </div>
</nav>
